// Anulaciones de Variables Primero
$primary: #081f37;
$enable-shadows: true;
$prefix: "mo-";
$carousel-control-icon-width: 1rem;
// Then import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss"